<div class="row" style="min-height: 350px;">
	 <div class="col-md-12">
    <table class="display compact" id="item_tbl">
        <thead>
            <tr>
                <th class="text-center">Action</th>
                <th>Status</th>
                <th>Category Name</th>
                <th>Sub Category Name</th>
                <th>Item Description</th>
            </tr>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
  </div>
</div>


<div bsModal #uomModel="bs-modal" [config]="{backdrop: 'static'}"
 class="modal fade" (onShow)="showEvent($event)" >
 <div class="modal-dialog">
		 <div class="modal-content">
				 <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="saveUoms()">
						 <div class="modal-header  bg-teal-300">
								 <button type="button" class="close" (click)="uomModel.hide()">&times;</button>
								 <h5 class="modal-title">{{ modelTitle }}</h5>
						 </div>
						 <div class="modal-body">
								 <input type="hidden" formControlName="item_id" class="form-control input-xxs">
								 <ng-select [items]="UOMList$ | async"
						        bindLabel="uom_id"
						        placeholder="Select UOM"
						        [multiple]="true"
						        [hideSelected]="true"
						        formControlName="uom_list"
										[(ngModel)]="selectedUOMList">
						    </ng-select>
						    <span class="err" > {{ formValidator.validate_field('uom_list')  }} </span>
						 </div>
						 <div class="modal-footer">
								 <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs" (click)="uomModel.hide()"><b><i class="icon-cross"></i></b> Close</button>
								 <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" [disabled]="formGroup.invalid || formGroup.pending || processing">
										 <b><i class="icon-floppy-disk"></i></b> Save</button>
								 </div>
						 </form>
				 </div>
		 </div>
 </div>
