<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Style Creation</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #buyerPoTabs [justified]="true">

            <tab heading="Style Creation List" (select)="onSelect($event)">
                <app-style-creation></app-style-creation>
            </tab>

            <tab heading="Style Creation" (select)="onSelect($event)">
                <app-style-creation-main></app-style-creation-main>
            </tab>

          </tabset>


        </div>

        <app-style-creation-popup></app-style-creation-popup>
        <app-style-creation-image-cropper></app-style-creation-image-cropper>
        



		</div>
</div>
