
  <div class="panel-body">

      <div class="row" style="min-height: 350px;">
      	 <div class="col-md-12">
          <table class="table  display datatable-basic" id="data_tbl">
              <thead>
                  <tr>
                    <th class="text-center">Action</th>
                    <th class="text-center">Status</th>
                    <th>Return No</th>
                    <th>GRN No</th>
                    <th>Item Code</th>
                    <th>Item Description</th>
                    <th>Return Qty</th>
                    <th>User Name</th>
                    <th>Created Date</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
      </div>

  </div>
