<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Return to Supplier</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #menuTab [justified]="true">

            <tab heading="Return to Supplier List" (select)="onSelect($event)">
                <app-return-to-supplier-list></app-return-to-supplier-list>
            </tab>

            <tab heading="Return to Supplier" (select)="onSelect($event)">
                <app-return-to-supplier></app-return-to-supplier>
            </tab>

          </tabset>


        </div>




		</div>
</div>
