<form class="form-horizontal"  [formGroup]="formGroup">
  <div class="row fixDiv card sticky-top">
    <div class="col-md-8">
      <div class="panel panel-flat" #mainScreen>
        <div class="panel-heading">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 col-sm-4"><h5 class="panel-title">Report</h5></div>
              <div class="col-md-3 col-sm-8">

              </div>

            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row sticky-top"  >
            <div class="col-md-12">

              <div class="row">


                <div class="col-md-4 col-sm-4">
                  <label>PLEASE SELECT STYLE# <span class="text-danger">*</span>:</label>

                </div>
                <div class="col-md-8 col-sm-8">
                  <ng-select [items]="style$ | async"
                             bindLabel="style_no"
                             [multiple]="false"
                             [hideSelected]="true"
                             [loading]="styleLoading"
                             [typeahead]="styleInput$"
                             [(ngModel)]="selectedstyle"
                             formControlName="Style"
                             (change)="loadStyleData()">
                  </ng-select>
                </div>

              </div><div class="row">

            </div>

              <div class="row">
              </div>

              <div class="row">
              </div>

            </div>
          </div>


        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-flat" >
          <div class="panel-body">
            <div class="row sticky-top"  >
              <div class="col-md-12">

                <div class="row">


                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>ORDER QTY :</label>{{order_qty}}
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>SMV :</label>{{order_smv}}
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>FOB :</label>{{order_fob}}
                    </div>
                  </div>


                </div>
                <div class="row">

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>SEWING SMV :</label>{{sewing_smv}}
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>PACKING SMV :</label>{{packing_smv}}
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>FINANCE COST :</label>{{finance_cost}}
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>CORPORATE COST :</label>{{corporate_cost}}
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>EPM RATE :</label>{{epm_rate}}
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>NET PROFIT :</label>{{netprofit}}
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>FRONTEND CPM :</label>{{factory_cpm}}
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>FRONTEND CPM :</label>{{frontend_cpm}}
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12">
                      <label>FINANCE RATE :</label>{{finance_rate}}
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-flat" >
        <div class="panel-body">
          <div class="row sticky-top"  >
            <div class="col-md-12">

              <div class="row">


                <div class="col-md-12 col-sm-12">
                  <div class="col-md-12 col-sm-12" style="padding-top: 20px">
                    <div class="thumbnail" style="margin-bottom: 5px;">
                      <img [src]="imgSrc" alt="" style="height: 160px;width: auto" />
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <hot-table
            [hotId]="instance"        
            [data]="dataset">
    </hot-table>
  </div>
  <input type="hidden" id="url" value="{{url}}" class="form-control input-xxs">
</form>
<ng-snotify class="simple"></ng-snotify>
