

      <div class="row" style="min-height: 350px;">
      	 <div class="col-md-12">
          <table class="table  display datatable-basic" id="data_tbl">
                <thead style="background-color:#ebebe0">
                  <tr>
                      <th class="text-center">Action</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Bin Transfer NO</th>
                      <th class="text-center">User</th>
                      <th class="text-center">Location</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
      </div>
