<div class="row">
  <!-- <h4 class="text-center">Plant Wise Inventory Values</h4> -->
  <div class="col-md-6">
    <h6 class="text-center">Plant Wise Inventory Values {{myDate | date:'yyyy-MM-dd'}}</h6>
    <div>
      <canvas baseChart height="310vw" width="470vw"
         [data]="pieChartData"
         [labels]="pieChartLabels"
         [chartType]="pieChartType"
         [options]="pieChartOptions"
         [colors]="colours"
         (chartClick)="chartClicked1($event)">
       </canvas>
      </div>
    </div>
    <div class="col-md-6">
      <h6 class="text-center">Plant Wise Inventory Values {{myDate | date:'yyyy'}}</h6>
      <div>
        <canvas baseChart height="165vw" width="470vw"
           [data]="pieChartData2"
           [labels]="pieChartLabels2"
           [chartType]="pieChartType2"
           [options]="pieChartOptions2"
           [colors]="colours2"
           (chartClick)="chartClicked2($event)">
         </canvas>
         <br>
         <h6 class="text-center">Plant Wise Inventory Values {{anio}}</h6>
         <canvas baseChart height="165vw" width="470vw"
            [data]="pieChartData3"
            [labels]="pieChartLabels3"
            [chartType]="pieChartType3"
            [options]="pieChartOptions3"
            [colors]="colours3"
            (chartClick)="chartClicked3($event)">
          </canvas>
        </div>

    </div>
</div>
