<!-- <div class="row">
  <h4 class="text-center">Plant Wise OTD</h4>
  <div class="col-md-12">
  <div class="col-md-6 col-md-offset-3">
    <div>
      <canvas baseChart height="380vw" width="470vw"
         [data]="pieChartData"
         [labels]="pieChartLabels"
         [chartType]="pieChartType"
         [options]="pieChartOptions"
         [colors]="colours"
         (chartClick)="chartClicked($event)">
       </canvas>
      </div>
    </div>
  </div>
</div> -->


<div class="row">
  <!-- <h4 class="text-center">Plant Wise OTD/LD</h4> -->
<div class="col-md-12">
  <div class="col-md-4">
      <h4 class="text-center">Thihariya</h4>
    <div>
      <canvas baseChart height="260vw" width="470vw"
         [data]="pieChartData1"
         [labels]="pieChartLabels1"
         [chartType]="pieChartType1"
         [options]="pieChartOptions1"
         [colors]="colours1"
         (chartClick)="chartClicked($event)">
       </canvas>
      </div>
    </div>

    <div class="col-md-4">
        <h4 class="text-center">Kelaniya</h4>
      <div>
        <canvas baseChart height="260vw" width="470vw"
           [data]="pieChartData2"
           [labels]="pieChartLabels2"
           [chartType]="pieChartType2"
           [options]="pieChartOptions2"
           [colors]="colours2"
           (chartClick)="chartClicked($event)">
         </canvas>
        </div>
      </div>

      <div class="col-md-4">
          <h4 class="text-center">Mawathagama</h4>
        <div>
          <canvas baseChart height="260vw" width="470vw"
             [data]="pieChartData3"
             [labels]="pieChartLabels3"
             [chartType]="pieChartType3"
             [options]="pieChartOptions3"
             [colors]="colours3"
             (chartClick)="chartClicked($event)">
           </canvas>
          </div>
        </div>







        <div class="col-md-4">
          <h4 class="text-center">Naula</h4>
          <div>
            <canvas baseChart height="260vw" width="470vw"
               [data]="pieChartData4"
               [labels]="pieChartLabels4"
               [chartType]="pieChartType4"
               [options]="pieChartOptions4"
               [colors]="colours4"
               (chartClick)="chartClicked($event)">
             </canvas>
            </div>
          </div>

          <div class="col-md-4">
            <h4 class="text-center">Uhumeeya</h4>
            <div>
              <canvas baseChart height="260vw" width="470vw"
                 [data]="pieChartData5"
                 [labels]="pieChartLabels5"
                 [chartType]="pieChartType5"
                 [options]="pieChartOptions5"
                 [colors]="colours5"
                 (chartClick)="chartClicked($event)">
               </canvas>
              </div>
              </div>
              <div class="col-md-4">
                  <h4 class="text-center">Narammala</h4>
                <div>
                  <canvas baseChart height="260vw" width="470vw"
                     [data]="pieChartData6"
                     [labels]="pieChartLabels6"
                     [chartType]="pieChartType6"
                     [options]="pieChartOptions6"
                     [colors]="colours6"
                     (chartClick)="chartClicked($event)">
                   </canvas>
                  </div>
                </div>
                </div>
                  </div>
