<div class="row" style="min-height: 350px;">
  <div class="col-md-12">
    <table class="table display datatable-basic" id="revision_po_list">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">Action</th>
                <th>Status</th>
                <th>BOM Stage</th>
                <th>PO#</th>
                <th>PO Created Date</th>
                <th>User</th>
                <th>Delivery Location</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>
