<div class="row" style="min-height: 350px;">
  <div class="col-md-12">
    <table class="table display datatable-basic" id="header_po_list">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">Action</th>
                <th>PO Status</th>
                <!--<th>PRL#</th>-->
                <!-- <th>SO Line #</th> -->
                <th>Saved Date</th>
                <th>Saved User</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>
