<div class="row">
  <div class="col-md-12">
    <table class="table display datatable-basic" id="non_inv_grn_list">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">Action</th>
                <th>GRN Status</th>
                <th>GRN No</th>
                <th>Manual PO No</th>
                <th>Invoice No</th>
                <th>Supplier</th>
                <th>GRN Date</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>
