<!--The content below is only a placeholder and can be replaced.-->

<style>
    #grn-block{
        display: table;
    }

</style>

<div style="text-align:center">
    <div>
        <div style="display: block">
            <div>
                <div style="display: block">
                    <div class="row">
                          <div class="row">
                             <div class="col-md-12" style="display: block">
                               <app-mainitems></app-mainitems>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col-md-6" style="display: block">
                               <app-taskstatus></app-taskstatus>
                             </div>
                             <div class="col-md-6" style="display: block">
                               <app-inventoryaging></app-inventoryaging>
                             </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
