

<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Material Issue</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #buyerPoTabs [justified]="true">

            <tab heading="Material Issue List" (select)="onSelect($event)">
              <app-issue-detils></app-issue-detils>
            </tab>

            <tab heading="Material Issue" (select)="onSelect($event)">
                <app-issue></app-issue>

            </tab>

          </tabset>


        </div>



		</div>
</div>
