<style media="screen">

</style>


<fieldset class="content-group">
	<!-- <legend class="text-bold text-center">Sales RMC Report</legend> -->
	<div class="col-md-12">
		<div class="row overflow-auto" style="min-height: 350px;">

			<table class="table display datatable-basic" id="inventory_item_tbl">
				<thead>
						<tr>
								<th class="text-center">Action</th>
								<th>Status</th>
								<th>Item Code</th>
								<th>Item Description</th>
								<th>Std price $</th>
								<th>Category Name</th>
								<th>Sub Category Name</th>
								<th>Color Name</th>
								<th>Size</th>
								<th>UOM</th>
								<th>Supplier</th>
								<th>Date</th>
						</tr>
				</thead>
				<tbody>
						<td></td>
						<td></td>
						<td></td>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>


<!-- <div class="row  overflow-auto" style="min-height: 350px;">
	 <div class="col-md-12">
    <table class="display compact" id="inventory_item_tbl">
        <thead>
            <tr>
                <th class="text-center">Action</th>
                <th>Status</th>
								<th>Item Code</th>
								<th>Item Description</th>
								<th>Std price $</th>
                <th>Category Name</th>
                <th>Sub Category Name</th>
                <th>Color Name</th>
								<th>Size</th>
								<th>UOM</th>
								<th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
  </div>
</div> -->
