<div class="row">
  <form class="form-horizontal" [formGroup]="formGroup" >
      <div class="col-md-2">
        <input type="text" class="form-control input-xxs" formControlName="search_text" placeholder="Search keyword...">
      </div>
      <div class="col-md-2">
        <ng-select
          placeholder = "Select Category"
          [items]="categoryList$ | async"
          bindLabel="category_name"
          [hideSelected]="true"
          formControlName="category"
          (change)="onCategoryChange($event)">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select [items]="subCategoryList$ | async"
            placeholder = "Select Sub Category"
            [selectOnTab]="true"
            bindLabel="subcategory_name"
            formControlName="sub_category">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select [items]="supplier$ | async"
             placeholder = "Select Supplier"
             bindLabel="supplier_name"
             [multiple]="false"
             [hideSelected]="true"
             [loading]="supplierLoading"
             [typeahead]="supplierInput$"
             formControlName="supplier_id">
        </ng-select>

      </div>
      <div class="col-md-2">
        <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs" (click)="openModel();search($event)"><b><i class="icon-search4"></i></b> Search</button>
      </div>

      <div class="col-md-12">

        <div id="item-master-edit" style="margin-top:15px">

          <hot-table
                  [hotId]="instanceItem"
                  [settings]="hotOptionsItem"
                  [data]="datasetItem">
          </hot-table>


        </div>

      </div>


      <div class="col-sm-12" style="padding-top:20px;">

       <div class="btn-group" style="float:left">



       </div>

       <div class="btn-group" style="float:right">
         <div [hasPermission]="['ITEM_CREATION_EDIT']">

              <button *ngIf="!processdetails" type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs"
              [disabled]="formGroup.invalid"  (click)="updateDetails()" >
              <b><i class="icon-floppy-disk"></i></b> Update</button>

        </div>
        </div>

      </div>


  </form>







 </div>



 <div bsModal #itemModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" (onShow)="showEvent($event)">
  <div class="modal-dialog  modal-lg">
       <div class="modal-content">
           <div class="modal-header bg-teal-300 model-header-custom">
               <button type="button" class="close" data-dismiss="modal" (click)="itemModel.hide()">&times;</button>
               <h5 class="modal-title">Select Item</h5>
           </div>
           <div class="modal-body modal-body-custom" id="div-composition-model">
              <div class="row" style="margin-top:15px">
                <div style="border-style:solid;border-width:1px;border-color:#DCDCDC" id="item-selector-table-div">
                  <hot-table
                          [hotId]="instance"
                          [settings]="hotOptions"
                          [data]="dataset">
                  </hot-table>
                </div>
              </div>
           </div>

       </div>
   </div>
 </div>
