

<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Fabric Inspection</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #buyerPoTabs [justified]="true">

            <tab heading="Fabric Inspection List" (select)="onSelect($event)">
              <app-fabric-inspection-details></app-fabric-inspection-details>
            </tab>

            <tab heading="Fabric Inspection" (select)="onSelect($event)">
              <app-fabric-inspection></app-fabric-inspection>

            </tab>

          </tabset>


        </div>



		</div>
</div>
