<!-- Error title -->
					<div class="text-center content-group">
						<h1 class="error-title">401</h1>
						<h5>Oops, Unauthorized Access. You don't have permissions to access this page</h5>
					</div>
					<!-- /error title -->


					<!-- Error content -->
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
							<form action="#" class="main-search">

								<div class="row">
									<div class="col-sm-6">
										<a [routerLink]="router_link" class="btn btn-primary btn-block content-group"><i class="icon-circle-left2 position-left"></i> Go to dashboard</a>
									</div>

								</div>
							</form>
						</div>
					</div>
					<!-- /error wrapper -->
