<!-- <div class="row">
 <div class="col-md-4">

     <h4 class="text-center">Pending</h4>
        <canvas baseChart height="450vw" width="425vw"
           [data]="pieChartData"
           [labels]="pieChartLabels"
           [chartType]="pieChartType"
           [options]="pieChartOptions"
           [colors]="colours"
           (chartClick)="chartClicked($event)">
         </canvas>
<br> <br>
</div> -->
   <!-- <div class="row">
    <div style="text-align: center;">
     <div class = col-md-12>
      <div id="calendar">Select Date : <input type="text" class="js-example-basic-single input-xxs" placeholder="Select Date Range" bsDaterangepicker [bsConfig]= "{ rangeInputFormat : 'YYYY-MM-DD' }" placement="top" style ="width: 200px;text-align:center"></div>

      </div>
     </div>
    </div> -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h4 class="text-center">Approved</h4>
         <canvas baseChart height="340vw" width="425vw"
            [data]="pieChartData1"
            [labels]="pieChartLabels1"
            [chartType]="pieChartType1"
            [options]="pieChartOptions1"
            [colors]="colours1"
            (chartClick)="chartClicked($event)">
          </canvas>
   </div>
 </div>
    <!-- <div class="row">
     <div style="text-align: center;">
      <div class = col-md-12>
       <div id="calendar">Select Date : <input type="text" class="js-example-basic-single input-xxs" placeholder="Select Date Range" bsDaterangepicker [bsConfig]= "{ rangeInputFormat : 'YYYY-MM-DD' }" placement="top" style ="width: 200px;text-align:center"></div>

       </div>
      </div>
     </div> -->

   <!-- <div class="col-md-4">

       <h4 class="text-center">Rejected</h4>
          <canvas baseChart height="450vw" width="425vw"
             [data]="pieChartData2"
             [labels]="pieChartLabels2"
             [chartType]="pieChartType2"
             [options]="pieChartOptions"
             [colors]="colours2"
             (chartClick)="chartClicked($event)">
           </canvas>
  <br> <br>  </div> -->
     <!-- <div class="row">
      <div style="text-align: center;">
       <div class = col-md-12>
        <div id="calendar">Select Date : <input type="text" class="js-example-basic-single input-xxs" placeholder="Select Date Range" bsDaterangepicker [bsConfig]= "{ rangeInputFormat : 'YYYY-MM-DD' }" placement="left" style ="width: 200px;text-align:center"></div>

        </div>
       </div>
      </div> -->
