

<div>
    <h4 class="text-center">Inventory Ageing</h4>
        <canvas baseChart height="250vw" width="425vw"
           [data]="pieChartData"
           [labels]="pieChartLabels"
           [chartType]="pieChartType"
           [options]="pieChartOptions"
           [colors]="colours"
           (chartClick)="chartClicked($event)"
           >
         </canvas>
</div>
<!-- <h4 class="text-center">Inventory Ageing</h4>
<canvas baseChart height="320vw" width="450vw"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartClick)="chartClicked($event)"
        [colors]="barChartColors"
>
</canvas> -->
