<div class="row" style="min-height: 350px;">
  <div class="col-md-12">
    <table class="table display datatable-basic" id="bom_list">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">Action</th>
                <th>Status</th>
                <th>BOM ID</th>
                <th>Costing ID</th>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Style</th>
                <th>Color Description</th>
                <th>Bom Stage</th>
                <th>Season</th>
                <th>Color Type</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>
